In [45]:
import numpy as np
import pandas as pd
import os
import re
from sklearn.model_selection import train_test_split

In [5]:
!ls /root/EarleeNLP/notebook

5cls.pkl  data-preprocess.ipynb  弹幕清洗7月2号.xlsx

In [4]:
df_phase1 = pd.read_pickle('5cls.pkl')
df_phase1

                                       text  cls label
0                                  什么烂剧  卧槽  辱骂类     3
1                           妈的，颠覆三观的绿，看的想吐?  辱骂类     3
2     怪不得你们爱豆越活越娘炮，玩个游戏用力一点就叫的跟狗似的，还是去玩泥巴去吧  辱骂类     3
3                 身边有一婊子弄的我实在无奈!怎么对付这种人kao!  辱骂类     3
4                              关你球事？你晓得个锤子。  辱骂类     3
...                                     ...  ...   ...
1751                      正经人谁偷窥啊，我都是光明正大的看  色情类     0
1752                          我艹，这种波霸给我来10个  色情类     0
1753                                屌丝只配性幻想  色情类     0
1754                        丝袜美腿拍的好，流量硬币少不了  色情类     0
1755                        怎么你们看到生殖器就走不动道了  色情类     0

[1756 rows x 3 columns]

In [18]:
df_phase2_sexy = pd.read_excel('弹幕清洗7月2号.xlsx', sheet_name='色情', header=None, names=['text'])
df_phase2_sexy['cls'] = '色情类'
df_phase2_sexy['label'] = 0
df_phase2_sexy

                              text  cls  label
0                               #片  色情类      0
1                         #学生妹模特绝对  色情类      0
2                      10包射298上门援交  色情类      0
3                  13711374005性福就在  色情类      0
4                       18禁，未成年人勿入  色情类      0
..                             ...  ...    ...
570                       公主的胸有点大的  色情类      0
571              公主身材真好，人那么瘦，咪咪那么大  色情类      0
572  黄片地址： http:/*****************  色情类      0
573                  具观察，每个女的胸都比较大  色情类      0
574                      老板娘好漂亮好骚气  色情类      0

[575 rows x 3 columns]

In [15]:
df_phase2_ad = pd.read_excel('弹幕清洗7月2号.xlsx', sheet_name='广告', header=None, names=['text'])
df_phase2_ad['cls'] = '广告类'
df_phase2_ad['label'] = 1
df_phase2_ad

                                                   text  cls  label
0                                            ##全球汇集精品##  广告类      1
1                                            ##外围模特预约##  广告类      1
2                                              #24小时在线#  广告类      1
3                                              #999条新消息  广告类      1
4                                        #包夜服务#全天24小时安排  广告类      1
...                                                 ...  ...    ...
1303                                            做网店 请联系  广告类      1
1304  慕品右淘宝企业店，专注正品宜兴手工紫砂壶，希望给每一位壶友带去一把真正的宜兴紫砂壶，给每一位...  广告类      1
1305                                         苹果版免费领到vip  广告类      1
1306                   各位B友麻烦大家淘宝搜索：***** 并关注店铺一下…谢谢大家！  广告类      1
1307            看黄友意者加我QQ：10001各种高清大片，5T种子，喜羊羊全集1200多集。  广告类      1

[1308 rows x 3 columns]

In [19]:
df_phase2_abuse = pd.read_excel('弹幕清洗7月2号.xlsx', sheet_name='辱骂', header=None, names=['text'])
df_phase2_abuse['cls'] = '辱骂类'
df_phase2_abuse['label'] = 3
df_phase2_abuse

                                                   text  cls  label
0                                            老子一拳锤通你妈的逼  辱骂类      3
1                                       :嗯，你是下贱的婊子，没毛病。  辱骂类      3
2                               ？写得评论被删了？编剧脑子确实有屎啊，怎么了？  辱骂类      3
3     “菜虚鲲”一种鲲，生活在深海里！深海练习时长两年半的个人深海练习生！吃了可以补肾虚的毛病！还...  辱骂类      3
4                                         (;｀O´)o滚，什么玩意  辱骂类      3
...                                                 ...  ...    ...
2759                              左龙暖男牵了个女汉子而且还那么丑真是遗憾了  辱骂类      3
2760  左龙右凤不是第十二期走了吗？怎么第十五期还在？？？？这是为了收视率专门叫回来演给我们看的吗？...  辱骂类      3
2761                                         作秀，看没人看了炒作  辱骂类      3
2762  做实锤本来就是揭秘真相，照你这么说开挂都是付出努力的，怎么就口嗨了，人家捶地有理有据，像你这...  辱骂类      3
2763  坐在火车上看bilibili，对面一个妹子问我 你看的是b站么 我点点头，她又说 看bili...  辱骂类      3

[2764 rows x 3 columns]

In [20]:
df_phase2_political = pd.read_excel('弹幕清洗7月2号.xlsx', sheet_name='政治', header=None, names=['text'])
df_phase2_political['cls'] = '政治类'
df_phase2_political['label'] = 2
df_phase2_political

                                         text  cls  label
0                               有关六四政治的文章都好压抑  政治类      2
1                                  六四运动据说闹的很大  政治类      2
2                               你知道六四學潮/六四学潮吗  政治类      2
3                                八平方事件到底是怎么回事  政治类      2
4                                    什么是平反六四？  政治类      2
..                                        ...  ...    ...
758                          叶剑英能付出是因为四人帮倒台了。  政治类      2
759  四人帮，江青是唯一的女性，所有泼向女性妖魔化女性的恶毒言辞，都汹涌澎湃直接泼向她  政治类      2
760                                  始于毛，终于习。  政治类      2
761                  真正的天安门事件是1976年四月五日的四五运动！  政治类      2
762                           纪念周恩来，反对四人帮的运动！  政治类      2

[763 rows x 3 columns]

In [21]:
df_phase2 = pd.concat([df_phase2_sexy, df_phase2_ad, df_phase2_abuse, df_phase2_political])
df_phase2

                                         text  cls  label
0                                          #片  色情类      0
1                                    #学生妹模特绝对  色情类      0
2                                 10包射298上门援交  色情类      0
3                             13711374005性福就在  色情类      0
4                                  18禁，未成年人勿入  色情类      0
..                                        ...  ...    ...
758                          叶剑英能付出是因为四人帮倒台了。  政治类      2
759  四人帮，江青是唯一的女性，所有泼向女性妖魔化女性的恶毒言辞，都汹涌澎湃直接泼向她  政治类      2
760                                  始于毛，终于习。  政治类      2
761                  真正的天安门事件是1976年四月五日的四五运动！  政治类      2
762                           纪念周恩来，反对四人帮的运动！  政治类      2

[5410 rows x 3 columns]

In [22]:
df_phase1_and_phase2 = pd.concat([df_phase1, df_phase2])
df_phase1_and_phase2

                                         text  cls label
0                                    什么烂剧  卧槽  辱骂类     3
1                             妈的，颠覆三观的绿，看的想吐?  辱骂类     3
2       怪不得你们爱豆越活越娘炮，玩个游戏用力一点就叫的跟狗似的，还是去玩泥巴去吧  辱骂类     3
3                   身边有一婊子弄的我实在无奈!怎么对付这种人kao!  辱骂类     3
4                                关你球事？你晓得个锤子。  辱骂类     3
..                                        ...  ...   ...
758                          叶剑英能付出是因为四人帮倒台了。  政治类     2
759  四人帮，江青是唯一的女性，所有泼向女性妖魔化女性的恶毒言辞，都汹涌澎湃直接泼向她  政治类     2
760                                  始于毛，终于习。  政治类     2
761                  真正的天安门事件是1976年四月五日的四五运动！  政治类     2
762                           纪念周恩来，反对四人帮的运动！  政治类     2

[7166 rows x 3 columns]

In [23]:
df_phase1_and_phase2.groupby('label').count()

       text   cls
label
0       827   827
1      1714  1714
2      1429  1429
3      3195  3196

In [26]:
with open('/ai/223/datasets/text_classification/toutiao_cat_data.txt', 'r') as f:
    fl = f.read().splitlines()
    
len(fl)

386163

In [28]:
normal_data = fl[10000:20000]
normal_data[0]

'6552468986791985672_!_109_!_news_tech_!_你回到过去最想见的人是谁？一句话能看出马云的高情商！_!_爱因斯坦,特拉维夫大学,以色列,马云,马克思'

In [29]:
normal_data[1]

'6552418856848064776_!_109_!_news_tech_!_如果八年前花10万元买比特币，现在生活会发生什么变化？_!_'

In [37]:
p = re.compile('.*_!_(.*?)_!_')
# res = p.search(normal_data[0])
# res.groups()[0]

In [38]:
normal_data_cleaned = []
for dt in normal_data:
    if res := p.search(dt):
            normal_data_cleaned.append(res.groups()[0])
len(normal_data_cleaned)

10000

In [39]:
_ = {'text': normal_data_cleaned}
df_phase2_normal = pd.DataFrame(_)
df_phase2_normal['cls'] = '其他类'
df_phase2_normal['label'] = 4
df_phase2_normal

                                   text  cls  label
0            你回到过去最想见的人是谁？一句话能看出马云的高情商！  其他类      4
1           如果八年前花10万元买比特币，现在生活会发生什么变化？  其他类      4
2        马云：芝麻分又要更新了，芝麻分600分以上大福！你的涨了吗？  其他类      4
3               为什么小米公司成了唯一成功的“小米模式”公司？  其他类      4
4        黑猫：淘宝天猫商家运营如何玩转抽奖精灵工具软件，提高用户粘性  其他类      4
...                                 ...  ...    ...
9995      经常收到银行的办信用卡的信息，说是白金优质用户，是真的吗？  其他类      4
9996         联想被踢出恒生指数，是什么导致了联想现在的这种境地？  其他类      4
9997                     腾讯不需要梦想，但是我们需要  其他类      4
9998                    三网融合了，广电网络怎么发展？  其他类      4
9999  移动198幸运号，国内不限流量+300分钟语音，愿意为新号段买单？  其他类      4

[10000 rows x 3 columns]

In [40]:
df_phase2 = pd.concat([df_phase2, df_phase2_normal])
df_phase2

                                   text  cls  label
0                                    #片  色情类      0
1                              #学生妹模特绝对  色情类      0
2                           10包射298上门援交  色情类      0
3                       13711374005性福就在  色情类      0
4                            18禁，未成年人勿入  色情类      0
...                                 ...  ...    ...
9995      经常收到银行的办信用卡的信息，说是白金优质用户，是真的吗？  其他类      4
9996         联想被踢出恒生指数，是什么导致了联想现在的这种境地？  其他类      4
9997                     腾讯不需要梦想，但是我们需要  其他类      4
9998                    三网融合了，广电网络怎么发展？  其他类      4
9999  移动198幸运号，国内不限流量+300分钟语音，愿意为新号段买单？  其他类      4

[15410 rows x 3 columns]

In [41]:
df_phase2 = df_phase2.reset_index(drop=True)
df_phase2

                                    text  cls  label
0                                     #片  色情类      0
1                               #学生妹模特绝对  色情类      0
2                            10包射298上门援交  色情类      0
3                        13711374005性福就在  色情类      0
4                             18禁，未成年人勿入  色情类      0
...                                  ...  ...    ...
15405      经常收到银行的办信用卡的信息，说是白金优质用户，是真的吗？  其他类      4
15406         联想被踢出恒生指数，是什么导致了联想现在的这种境地？  其他类      4
15407                     腾讯不需要梦想，但是我们需要  其他类      4
15408                    三网融合了，广电网络怎么发展？  其他类      4
15409  移动198幸运号，国内不限流量+300分钟语音，愿意为新号段买单？  其他类      4

[15410 rows x 3 columns]

In [44]:
df_phase2.to_pickle('5cls_phase2.pkl')

In [43]:
df_phase2 = df_phase2.dropna()
df_phase2 = df_phase2.reset_index(drop=True)
df_phase2

                                    text  cls  label
0                                     #片  色情类      0
1                               #学生妹模特绝对  色情类      0
2                            10包射298上门援交  色情类      0
3                        13711374005性福就在  色情类      0
4                             18禁，未成年人勿入  色情类      0
...                                  ...  ...    ...
15404      经常收到银行的办信用卡的信息，说是白金优质用户，是真的吗？  其他类      4
15405         联想被踢出恒生指数，是什么导致了联想现在的这种境地？  其他类      4
15406                     腾讯不需要梦想，但是我们需要  其他类      4
15407                    三网融合了，广电网络怎么发展？  其他类      4
15408  移动198幸运号，国内不限流量+300分钟语音，愿意为新号段买单？  其他类      4

[15409 rows x 3 columns]

In [48]:
df_phase2_train, df_phase2_test = train_test_split(df_phase2, test_size=0.2)
df_phase2_train = df_phase2_train.reset_index(drop=True)
df_phase2_test = df_phase2_test.reset_index(drop=True)

In [50]:
df_phase2_train_only_4 = df_phase2_train.drop(df_phase2_train[df_phase2_train['label']==4].index)

In [52]:
df_phase2_train_only_4 = df_phase2_train_only_4.reset_index(drop=True)

In [53]:
df_phase2_train_only_4.to_pickle('df_phase2_train_only_4.pkl')

In [54]:
df_phase2_test.to_pickle('df_phase2_test.pkl')